.products-main{
  display: grid;
}
.products-display{
  display: flex;
  flex-direction:column;
  padding:40px 19px 24px;
  border-right:1px solid rgb(229, 228, 228);
  border-bottom:1px solid rgb(229,228,228);
}
.product-image-display{
  flex:1;
  display: flex;
  justify-content: center;
  margin-bottom:28px;
}
.products-image{
  max-height:180px;
  width:100%;
  object-fit: contain;
}
.products-details{
  font-size: 16.8px;
  line-height:20px;
  height:40px;
  display: -webkit-box;
  -webkit-line-clamp:2;
  -webkit-box-orient:vertical;
  overflow:hidden;
}
.ratings-display{
  display: flex;
  align-items:center;
  margin-top:10px;
  margin-bottom:10px;
}
.stars{
  width:110px;
  margin-right:8px;
}
.count{
  font-size:16px;
  color:rgb(94, 94, 245);
}
.product-cost{
  font-size:16px;
  font-weight:bold;
  margin-bottom:10px;
}
.quantity-selection{
  background-color: rgb(240, 240, 240);
  padding:4px 6px;
  border-radius:8px;
  border:1px solid rgb(215, 211, 211);
  box-shadow:1px 1px 5px rgba(0,0,0,0.15);
  cursor:pointer;
}
.size-chart-div{
  font-size:14px;
  margin-top:16px;
}
.checkmark-icon{
  height:24px;
  margin-right:8px;
  margin-bottom:4px;
}
.added-msg{
  color:rgb(0, 118, 0);
  height:50px;
  margin-top:16px;
  display:flex;
  align-items: center;
}

.add-to-cart{
  background-color: rgb(254, 235, 69);
  padding:8px 12px;
  border:none;
  border-radius:30px;
  font-size:14px;
  cursor:pointer;
  transition:background-color 0.18s;
}
.add-to-cart:hover{
  background-color: rgb(255, 230, 0);
}
@media (max-width:575px){
  .products-main{
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width:576px) and (max-width:800px){
  .products-main{
    grid-template-columns: 1fr 1fr 1fr;
  }
  
}
@media (min-width:801px) and (max-width:1000px){
  .products-main{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width:1001px) and (max-width:1300px){
  .products-main{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
@media(min-width:1301px){
  .products-main{
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
  }
}