.header{
  background-color: rgb(0, 0, 0);
  position:fixed;
  top:0;
  right:0;
  left:0;
  height:62px;
  display: flex;
  justify-content: space-between;
  padding:0px 6px 0px 16px;
}

.left-header{
  display: flex;
  align-items: center;
  /*width:178px;*/
}
.amazon-logo-link{
  border:1px solid black;
  height:50px;
  padding-right:4px;
  cursor:pointer;
  margin-right:10px;
  transition:border 0.18s;
}
.amazon-logo-link:hover{
  border:1px solid white;
}
.amazon-logo{
  height:38px;
  margin-top:10px;
  margin-left:5px;
}
.amazon-logo-mobile-link{
  display: none;
}

.center-header{
  flex:1;
  display:flex;
  align-items:center;
  justify-content: center;
}
.search-bar{
  flex:1;
  max-width:1000px;
  /*width:0;*/
  padding:12px 15px;
  border:2px solid black;
  font-size:16px;
  border-top-left-radius:6px;
  border-bottom-left-radius:6px;
  border-right:none;
  outline:none;
}
.search-bar:focus{
  border:2px solid rgb(248, 178, 73);
}
.search-icon-btn{
  padding:5.5px;
  width:54px;
  border:2px solid black;
  border-top-right-radius:6px;
  border-bottom-right-radius:6px;
  border-left:none;
  background-color: rgb(255, 203, 119);
  cursor:pointer;
}
.search-icon{
  margin-top:4px;
  height:24px;
}

.right-header{
  width:230px;
  display:flex;
  align-items: center;
  justify-content: center;
  margin-right:6px;
}
.returns-orders-cart{
  display: flex;
}
.hamburgur-menu{
  display: none;
}
.returns-orders-link{
  border:1px solid black;
  height:50px;
  padding-right:6px;
  cursor:pointer;
  transition: border 0.18s;
}
.returns-orders-link:hover{
  border:1px solid white;
}
.returns{
  font-size:16px;
  color:white;
  margin-top:7px;
  margin-bottom:2px;
  margin-left:7px;
}
.orders{
  font-weight:bold;
  font-size:18px;
  color:white;
  margin-left:7px;
  white-space: nowrap;
}
.cart-link{
  display:flex;
  align-items:center;
  cursor:pointer;
  border:1px solid rgb(7, 7, 7);
  padding:6px;
  transition:border 0.18s;
}
.cart-link:hover{
  border:1px solid white;
}
.cart-count-position{
  display: flex;
  position:relative;
}
.cart-icon{
  margin-left:4px;
  height:38px;
}
.cart-count{
  color:rgb(255, 124, 2);
  font-weight:bold;
  position: absolute;
  top:-2px;
  right:18px;
  font-size:20px;
}
.cart-text{
  font-weight:bold;
  color:white;
  font-size:18px;
  margin-top:12px;
}

@media (max-width:717px){
  .amazon-logo-link{
    display: none;
  }
  .amazon-logo-mobile-link{
    display: block;
    border:1px solid black;
    height:50px;
    width:46px;
    margin-right:14px;
    transition:border 0.18s;
  }
  .amazon-logo-mobile-link:hover{
    border:1px solid white;
  }
  .amazon-logo-mobile-icon{
    height:40px;
    margin-top:6px;
    margin-left:3px;
  }
  .center-header{
    width:480px;
  }
  .right-header{
    width:60px;
  }
  .returns-orders-cart{
    display: none;
  }
  .hamburgur-menu{
    display:block;
  } 
  .hamburgur-menu-icon{
    height:17px;
  }
}
@media ((min-width:718px) and (max-width:1000px)){
  .left-header{
    margin-right:8px;
  }
  .search-bar{
    width:0px;
  }
  .right-header{
    margin-left:22px;
  }
}
@media (min-width:1001px) and (max-width:1600px){
  .left-header{
    margin-right:90px;
  }
  .right-header{
    margin-left:14px;
  }
}
@media (min-width:1601px){
  .left-header{
    margin-right:70px;
  }
}