.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  position:fixed;
  top:0;
  right:0;
  left:0;
  height:60px;
  background-color:rgb(248, 7, 7);
}
left-header{
 width:500px; 
}
.amazon-logo-link{
  background-color: black;
  margin-left:15px;
  border:1px solid rgb(1, 1, 1);
  border-radius:2px;
  padding:4px;
  cursor:pointer;
  transition:border 0.15s;
}
.amazon-logo-link:hover{
  border:1px solid white;
}
.amazon-logo{
  height:32px;
  margin-top:6px;
}

.center-header{
  flex:1;
  display:flex;
  max-width:844px;
  margin-left:80px;
 
}
.search-bar{
  flex:1;
  background-color: white;
  padding:10px 14px;
  border:none;
  border-radius:5px;
  font-size:16px;
  outline: none;
  border-top-right-radius:0;
  border-bottom-right-radius:0;
}
.search-bar:focus{
  border:2px solid orange;
}
.search-icon-btn{
  margin-left:-4px;
  border:none;
  background-color: rgb(249, 181, 86);
  width:50px;
  border-top-right-radius:4px;
  border-bottom-right-radius:4px;
  cursor:pointer;
}
.search-icon{
  width:22px;
  margin-top:4px;
  margin-left:4px;
}


.right-header{
 display:flex;
 margin-left:30px;
 flex-shrink:0px;
}
.returns-orders-link{
  background-color: black;
  border:1px solid rgb(0, 0, 0);
  transition:border 0.15s;
  cursor:pointer;
  border-radius:2px;
  height:50px;
}
.returns-orders-link:hover{
  border:1px solid white;
}
.returns{
  font-size:13px;
  color:rgb(3, 3, 3);
  color:white;
  margin-bottom:3px;
  margin:6px 16px 3px 6px;
  
}
.orders{
  margin:0px 6px 4px 6px;
  font-weight:bold;
  font-size:15px;
  color:white;
  white-space: nowrap;
}
.cart-div{
  display:flex;
  align-items:center;
  margin-right:12px;
  border:1px solid rgb(0, 0, 0);
  padding:0px 6px;
  transition: border 0.15s;
  position:relative;
  cursor:pointer;
  background-color: black;
}
.cart-div:hover{
  border:1px solid rgb(255, 255, 255);
}
.cart-icon{
  height:30px;
}
.cart-text{
  margin-top:10px;
  color:white;
  font-weight:bold;
  font-size:16px;
}
.cart-count{
  color:rgb(245, 88, 31);
  position: absolute;
  top:6px;
  right:52px;
  font-weight:750;
  font-size:16px;
}