.header{
  display:grid;
  grid-template-columns:200px 1fr 200px;
  position:fixed;
  top:0;
  right:0;
  left:0;
  height:60px;
  align-items: center;
  background-color:rgb(3, 3, 3);
}
/*.left-header{
  
}*/
.amazon-logo-btn{
  background-color: black;
  height: 54px ;
  width:116px;
  margin-left:15px;
  border:none;
  border-radius:2px;
  cursor:pointer;
}
.amazon-logo-btn:hover{
  border:1px solid white;
}
.amazon-logo{
  width:102px;
  margin-top:4px;
}

.center-header{
  background-color: lightpink;
}
.right-header{
  background-color: lightblue;
}